/*
* Button A
* @param $buttonABackground  : background color
* @param $buttonAColor       : color
* @param $buttonAWith        : size of the button
* @param $buttonATop         : padding top of the button
* @param $buttonALeft        : padding left of the button
*/


@mixin buttonA() {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.05);
  color: $buttonAColor;
  padding: $buttonATop $buttonALeft;
  font-size: em(15);
  transition: all ease 0.3s;
  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transition: all ease 0.3s;
  }
}

/*
* Button B
* @param $buttonBBackground  : background color
* @param $buttonBColor       : color
* @param $buttonBWith        : size of the button
* @param $buttonBTop         : padding top of the button
* @param $buttonBLeft        : padding left of the button
*/


@mixin buttonB() {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: $buttonBBackground;
  color: $buttonBColor;
  width: $buttonBWith;
  padding: $buttonBTop $buttonBLeft;
}

/*
* Button c
* @param $buttonCBackground  : background color
* @param $buttonCColor       : color
* @param $buttonCWith        : size of the button
* @param $buttonCTop         : padding top of the button
* @param $buttonCLeft        : padding left of the button
*/


@mixin buttonC() {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: $buttonCBackground;
  color: $buttonCColor;
  width: $buttonCWith;
  padding: $buttonCTop $buttonCLeft;
}